*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #2B303A;
}

html{
    height: 100%;
    background-color: #BAC1B8;
}

body{
    width: 90%;
    height: 100%;
    margin: auto;
    text-align: center;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

div#container{
    width: 100%;
}

h1{
    padding: 20px 0px;
}

input{
    width: 90%;
    max-width: 400px;
    height: 30px;
    display: block;
    margin: auto;
    border: 0px;
    border-radius: 5px;
    padding: 5px;
}

button{
    margin: 20px 0px;
    padding: 10px 20px;
    border: 0px;
    background-color:#2B303A;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color:#3a414e;
}

div#result{
    width: 90%;
    max-width: 400px;
    padding: 20px 10px;
    margin: auto;
    min-height: 100px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.3);
}

div#result b{
    font-size: 20px;
}

span#resultString{
    font-size: 20px;
}

span#resultString b{
     color: rgb(223, 72, 72);
     text-decoration: underline;
}