*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    min-height: 100vh;
    width: 90%;
    max-width: 1024px;
    margin: auto;
    background-color: #548687;
}

header{
    width: 100%;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 20px -20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

img#myPhoto{
    height: 150px;
    width: 150px;
    margin: 40px 20px;
    border: 5px solid white;
    border-radius: 50%;
    transition: transform 0.5s;
}

img#myPhoto:hover{
    transform:scale(1.1);
}

div#intro{
    width: 300px;
    padding: 20px;
    color: white;
}

div#intro h2{
    color: #385b5c;
}

div#intro p{
    color: #d3e2e2;
    padding: 10px 0px;
    line-height: 1.5em;
}

div#typing{
    margin: 40px 0px 30px;
    text-align: center;
    font-size: 40px;
    color: #a3403d;
    font-weight: 700;
    overflow: hidden;
}

div#typing span{
    position: relative;
    overflow: hidden;
}

div#typing span::after{
    content:"";
    height: 100%;
    width: 100%;
    position:absolute;
    top:0;
    left: 0;
    background-color: #548687;
    border-left: 0px solid #a3403d;
}

span#word1::after{
    animation: typing steps(11) 1.49s forwards, blinking 0.01s 1.49s forwards;
}

span#word2::after{
    animation: typing steps(9) 1.49s 1.5s forwards, blinking 0.01s 2.99s forwards;
}

span#word3::after{
    animation: typing steps(11) 1.5s 3s forwards, blinking 0.8s 4.5s infinite;
}

@keyframes typing {
    0%{border-left: 3px solid #a3403d; left: 0;}
    100%{border-left: 3px solid #a3403d; left: calc(100% + 10px);};
}

@keyframes blinking {
    0%{opacity: 1;}
    100%{opacity: 0;};
}

div#search{
    display: block;
    width: 280px;
    padding: 10px;
    margin: 0px auto 20px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 40px;
    box-sizing: border-box;
}

div#search label{
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color:#548687;
    color: #d3e2e2;
    border-radius: 50%;
}

div#search input{
    display: inline-block;
    width: 200px;
    line-height: 20px;
    font-size: 18px;
    background-color: transparent;
    color: #d3e2e2;
    border: none;
    outline: none;
}

div#search input:focus{
    border: none;
}

div#projectList{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    margin-bottom: 20px;
}

table{
    margin: 20px 10px;
    color: #d3e2e2;
    background-color: rgba(255,255,255,0.2);
    border-collapse: collapse;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 20px -20px;
    overflow: hidden;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}

table th{
    padding: 10px 0px;
    font-weight: 500;
}

table th:first-of-type{
    color: #385b5c;
}

table td img{
    display: block;
    width: 100%;
    margin: auto;
    filter:opacity(0.7);
    transition: 0.5s;
}

table:hover{
    transform: scale(1.05);
}

table:hover td img{
    filter:none;
}

table.empty{
    opacity: 0;
    cursor:auto;
}

::-webkit-scrollbar {
    width: 20px;
}
  
::-webkit-scrollbar-track {
    background: #b9d0d1;
  }
  
::-webkit-scrollbar-thumb {
    background: #548687;
    border: 5px solid #b9d0d1;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #385b5c;
}

@media only screen and (max-width: 425px) {
    
    img#myPhoto{
        height: 100px;
        width: 100px;
        margin: 20px;
        border: 3px solid white;
        border-radius: 50%;
    }
}