*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #F3F3FB;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

section#container{
    width: 90%;
    max-width: 400px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}


form#question{
    padding: 30px;
}

form#question h2{
    text-align: center;
    padding: 20px 0px;
    font-weight: 600;
    font-size: 22px;
}

form#question div.choice{
    padding: 5px 0px;
}

form#question div.choice label{
    padding: 0px 10px;
}

div#nextQuestion{
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    background-color: #4370E7;
    cursor: pointer;
}

div#nextQuestion:hover{
    background-color: #3356b6;
}

section#progressBar{
    display: flex;
    flex-flow: row nowrap;
    justify-content: baseline;
    align-items: center;
    padding: 30px 5px;
}

div.circle{
    height: 30px;
    width: 30px;
    line-height: 30px;
    background-color: white;
    border: 3px solid lightgray;
    color:gray;
    border-radius: 50%;
    text-align: center;
}

div.barbg{
    height: 3px;
    width: 30px;
    background-color: lightgray;
    position: relative;
}

div.bar{
    position: absolute;
    height: 3px;
    width: 0px;
    top:0;
    left:0;
    background-color: #4370E7;
    transition: 0.25s;
}

div.circle.shown{
    color:black;
    border: 3px solid #4370E7;
    transition: 0.25s;
}
div.bar.shown{
    width: 30px;
}
