*{
    padding: 0;
    margin: 0;
    font-family: 'Secular One', sans-serif;
}

html{
    width: 100%;
    height: 100%;
    color: #525252;
    background-color: white;
    transition: 0.5s;
}

body{
    width: 100%;
    height: 100%;
    padding: 20px 0px;
    box-sizing: border-box;
}

h1{
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
}

div#container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    position: relative;
    overflow: visible;
}

img{
    position: absolute;
    max-width: 450px;
    width: 70%;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    filter: brightness(120%) saturate(70%);
    cursor: pointer;
    transition: 0.2s;
}

img.imgleft{
    transform-origin: left top; 
    transform:  rotateY(50deg) scale(0.8) skewY(10deg);
    filter: brightness(120%) saturate(70%) opacity(0.7);
}

img.imgright{
    transform-origin: right top; 
    transform:  rotateY(-50deg) scale(0.85) skewY(-10deg);
    filter: brightness(120%) saturate(70%) opacity(0.7);
}

img.imgleft:hover, img.imgright:hover{
    filter: brightness(120%) saturate(70%);
}

img.imgshow{
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
}

div#buttons{
    padding-top: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}


.fa-circle-chevron-left, .fa-circle-chevron-right{
    font-size: 40px;
    margin: 0px 20px;
    cursor: pointer;
}

.buttonClick{
    transform: scale(0.9);
}

div#darkModeButton{
    text-align: center;
    margin: 30px 0px;
    cursor: pointer;
}

span#icons{
    color: white;
    background-color: #525252;
    font-size: 20px;
    line-height: 20px;
    padding: 5px 10px;
    border-radius: 30px;
    position: relative;
    transition: 0.5s;
}

span#toggleButton{
    content: "";
    background-color: white;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
}

span#toggleButton.dark{
    background-color: #525252; 
    left: calc(100% - 33px);
    transition: 0.5s;
}

span#icons.dark{
    color: #525252;
    background-color: white;
    transition: 0.5s;
}

html.dark{
    color: white;
    background-color: #525252;
    transition: 0.5s;
}


@media only screen and (max-width: 425px) {
    h1{
        font-size: 30px;
    }
}